:root {
  --placeholder-color: #c4c4c4; // or any global you wish to share with components
  --clear-white: #e0e0e0; // or any global you wish to share with components
  --dark-blue: #09295e; // or any global you wish to share with components
  --clear-blue: #21adcf; // or any global you wish to share with components
}
