<div class="list" *ngIf="(countries$ | async).length > 0">
  <div *ngFor="let item of continents">
    <div class="region" *ngIf="filterRegion === 'All' || filterRegion === item">
      <p class="region_title">{{ item }}</p>
      <div
        *ngFor="
          let item of countries$
            | async
            | filterRegionCountry: item
            | filterNameCountry: searchTerm
        "
      >
        <app-qrvey-country-item
          [item]="item"
          (click)="selectItem(item)"
        ></app-qrvey-country-item>
      </div>
      <div
        class="no-results"
        *ngIf="
          (
            countries$
            | async
            | filterRegionCountry: item
            | filterNameCountry: searchTerm
          ).length === 0
        "
      >
        --- No results ---
      </div>
    </div>
  </div>
  <div class="region" *ngIf="filterRegion === 'Favorites'">
    <p class="region_title">Favorites</p>
    <div
      *ngFor="
        let item of countries$
          | async
          | filterRegionCountry: item
          | filterNameCountry: searchTerm
      "
    >
      <app-qrvey-country-item
        *ngIf="item.favorite"
        [item]="item"
        (click)="selectItem(item)"
      ></app-qrvey-country-item>
    </div>
    <div
      class="no-results"
      *ngIf="
        (
          countries$
          | async
          | filterRegionCountry: item
          | filterNameCountry: searchTerm
        ).length === 0
      "
    >
      --- No results ---
    </div>
  </div>
</div>
<app-qrvey-country-modal
  *ngIf="openModal"
  id="modal"
  [item]="selectedItem"
  (closeModal)="closeModalOpen($event)"
></app-qrvey-country-modal>
