.list {
  display: flex;
  flex-direction: row;
  padding: 50px;
  .region {
    margin-right: 10px;
    &_title {
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #09295e;
    }
  }
}
.no-results {
  color: #bdbdbd;
}
