:host {
  position: fixed;
  background: rgba(9, 41, 94, 0.7);
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overscroll-behavior: contain;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
  height: 500px;

  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 50px;
  padding-top: 10px;
  .close {
  }
  .star {
    height: 29px;
    width: 29px;
    cursor: pointer;
  }
  h2 {
    font-weight: 600;
    font-size: 40px;
    color: #09295e;
  }
  p {
    font-weight: 500;
    font-size: 18px;
    color: #4f4f4f;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .flag {
    height: 120px;
    width: 181px;
  }
}
